.App {
  /* text-align: center; */
}

.addtodo-div, .todo-div{
  background-color: white;
}

.component-div{
  width: 70%;
  border-radius: 10px;
  border:  8px solid white;
}

body{
  height: auto;
    background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);
}

.form-control input{
  width: 100%;
  height: 3rem;
  margin: 1rem 0.5rem;
}

.item-box{
  width: 96%;
  border-radius: 10px;
  /* height: 3rem; */
  background-color: rgb(224, 224, 224);
}
.item-box h5{
  width: 25rem;
  overflow:hidden;
}

.item-box button{
  width: 3rem;
  height: 3rem;
  background-color: rgb(224, 72, 72);
  color: white;
  border-radius: 4px;
}

.end-div{
  width: 100%
}

.end-div-btn{
  color: white;
  background-color: rgb(132, 36, 183);
  height: 2.3rem;
  border-radius: 5px;
}


.form-control button{
  height: 3rem;
  width: 3rem;
  color: white;
  background-color: rgb(132, 36, 183);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 320px) and (max-width:768px) {
  .component-div{
  width: 95%;
  }
}